# Project: Clustering (Gaussian Mixture Model (GMM))
## Name: Melody Goldanloo

In [37]:
#Example of supress warnings for Numpy version out of range (optional)
import warnings
warnings.filterwarnings("ignore", category=Warning)
warnings.simplefilter(action='ignore', category=FutureWarning)

#Some recommended libraries
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.mixture import GaussianMixture
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, silhouette_score
import matplotlib.pyplot as plt

# The Dataset

In [38]:
# Read the data and add some error handling for file not found
try:
    df = pd.read_csv("creditcard.csv")
except pd.errors.ParserError as e:
    print(f"Error reading file: {e}")
    
#For testing, can use a subset to speed things up
print(df.shape)
#df = df[:1000] or df = df[:10000]

df.head()

(284807, 31)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

# Data Preprocessing
**Loading Data**: Load the Credit Card Fraud Detection dataset using Pandas. Review the data using .info(), .describe(), etc. 

**Handling Missing Values**: Identify and handle any missing values in the dataset (e.g., using mean or median imputation). This is KEY, the GMM model cannot accept data with missing data points.

**Feature Scaling**: Standardize the features to have a mean of 0 and a standard deviation of 1 for consistent training.

**Separate the Target**: The target of this dataset is “Class”, please ensure you remove it from the dataset.

**Train-Test Split**: Split the dataset into training and testing sets to evaluate the model's performance on unseen data.

### Exploration

In [39]:
# Exploration
df.info()
# all columns are floats except the column "Class" which has int types.
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

### Handling Missing Values

In [40]:
# Check for missing values
print("Sum of null values:\n", df.isnull().sum())
# no missing values!


## Train-Test Split
# The instructions for the project ask to split the data into training and testing sets, however the GMM
# example says not to do it, since it is unsupervised, so I am not going to do it.

Sum of null values:
 Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

### Standardizing & Separating Target Variable

In [41]:
# First, separate target variable (Class)
X = df.drop(columns=["Class"]).copy()
scaler = StandardScaler()

# Now, standardize X
X_scaled = scaler.fit_transform(X)

# Building the GMM Model
**Model Initialization**:
- Number of Components: Decide on the number of Gaussian components (clusters) to use.
- Covariance Type: Choose the type of covariance matrix (e.g., full, tied, diagonal, spherical).

**Model Fitting**: Fit the GMM to the features of the real-world dataset for anomaly detection.

In [76]:
#Building the model
#gmm = GaussianMixture(n_components=2, covariance_type='full', random_state=42)
#gmm_labels = gmm.fit_predict(X_scaled)
    # Accuracy score of 0.368568
    # Precision score of 0.000284208
    # Recall of 0.103659

# 'tied' covariance type
#gmm_tied = GaussianMixture(n_components=4, covariance_type='tied', random_state=42)
# gmm_labels_tied = gmm_tied.fit_predict(X_scaled)
    # Accuracy score of 0.368569
    # Precision: 0.0002842081

# Using 'diag' covariance type
#gmm_diag = GaussianMixture(n_components=4, covariance_type='diag', random_state=42)
#gmm_labels_diag = gmm_diag.fit_predict(X_scaled)
    # Accuracy: 0.20713

# Using 'spherical' covariance type
gmm_spherical = GaussianMixture(n_components=4, covariance_type='spherical', random_state=42)
gmm_labels_spherical = gmm_spherical.fit_predict(X_scaled)
    # Accuracy score of 0.414418
    # Highest Score on both components=4 and spherical type

# Evaluating the Model
**Performance Metrics**: Evaluate the anomaly detection performance using metrics such as accuracy, precision, recall, and confusion matrix.

In [77]:
y_true = df['Class'].values  # Extract true labels

accuracy = accuracy_score(y_true, gmm_labels_spherical)
cm = confusion_matrix(y_true, gmm_labels_spherical)
#precision = precision_score(y_true, gmm_labels_spherical)
#recall = recall_score(y_true, gmm_labels)
#gmm_silhouette = silhouette_score(X_scaled, gmm_labels_spherical) (not working for me)

print("Accuracy:", accuracy)
print("Confusion Matrix:\n", cm)
#print("Precision:", precision)
#print("Recall:", recall)

Accuracy: 0.4144174827163658
Confusion Matrix:
 [[117971 137847  18393  10104]
 [    12     58      6    416]
 [     0      0      0      0]
 [     0      0      0      0]]

## For the Model Selection Project, you will STOP HERE! 
During Units 4, 5, and 6, we will explore and learn additional techniques, and then revisit these projects to apply the below:
- Model evaluation and parameter tuning
- Explanatory visualizations and package your results with data storytelling

# Tuning Model Parameters (Completed in Unit 4)

In [ ]:
#Insert Code Here

# Evaluating the Tuned Model (Completed in Unit 4)

In [ ]:
#Insert Code Here

# Visualizing Results (Completed in Units 4 and 6)

In [ ]:
#Insert Code Here